// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// $blue:#40A2E3;

// $gray-600 : #75e261;

// $secondary: $gray-600;
